<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpp.devoluciondeenvases">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_dmr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_dmr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".dispensador.bootapp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".dispensador.Configuracion"
            android:exported="false" />
        <activity
            android:name=".dispensador.MensajeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".dispensador.RegistroSectores"
            android:label="Registrar Sectores"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".dispensador.DispensadorTurnoPrincipal" />
        <activity android:name=".dispensador.MainDispensador">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".envases.DispensadorTurno" />
        <activity android:name=".envases.Test" />
        <activity
            android:name=".dispensador.FileBrowseActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppThemeSinbarra">
            <intent-filter>
                <action android:name="com.gpp.FileBrowseActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".envases.RegistrarProducto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gpp.devoluciondeenvases.envases.MainActivity" />
        </activity>
        <activity
            android:name=".envases.DevoluciondeEnvases"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".envases.MainActivity" />
    </application>

</manifest>